.header {
  // border: 5px solid blue;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: var(--white);
  &__content {
    padding: 1.1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  .menu {
    display: none;
    margin: 0;
    padding: 0;
    // flex-direction: row;
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: var(--grayish_Blue);
        font-size: 0.8em;
        position: relative;
        letter-spacing: 0.5px;
        margin-right: 0.8em;
      }
    }
    &__button {
      // border: 1px solid purple;
      width: 25px;
      height: 25px;
      background-image: url("../../static/images/icon-hamburger.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &__checkbox {
      display: none;
      &:checked {
        & ~ .menu__button {
          // border: 1px solid green;
          background: url(../../static/images/icon-close.svg) center no-repeat;
        }
        & ~ .menu {
          display: block;
          position: absolute;
          // top: calc(100% + 1em);
          top: 100%;
          // border-radius: 5px;
          padding: 1em 1.2em;
          // border: 0.1px solid #eee;
          background: linear-gradient(
            to bottom,
            var(--dark_Blue) 0%,
            transparent 90%
          );
          // width: 100%;
          left: 0;
          right: 0;
          height: 100vh;
          text-align: center;
          // padding: 1.25em 0;
          .menu__item {
            // border: 1px solid red;
            &:first-child a {
              border-radius: 6px 6px 0 0;
            }
            &:last-child a {
              padding-bottom: 30px;
              border-radius: 0 0 6px 6px;
            }
          }
          a {
            font-size: 0.9em;
            // line-height: 1.2em;
            display: block;
            padding-top: 30px;
            font-weight: 400;
            color: var(--dark_Blue);
            background: white;
            margin: 0;
          }
          // a:hover {
          //   background: red;
          // }
        }
      }
    }
  }
  .button {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    // border: 10px solid red;
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em 0;
      .menu {
        margin: 0 0;
        display: flex;
        padding: 18px;
        flex-direction: row;
        list-style: none;
        li {
          a {
            padding: 28px 0.3em;
            text-decoration: none;
            color: var(--grayish_Blue);
            font-size: 0.8em;
            position: relative;
            letter-spacing: 0.5px;
            margin-right: 0.8em;
          }
          a:hover {
            font-weight: bold;
          }
          a:hover::after {
            width: 100%;
            left: 0;
          }
          a::after {
            transition: all 0.3s;
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 0;
            height: 5px;
            background: linear-gradient(
              to right,
              var(--lime_Green) 0%,
              var(--bright_Cyan) 100%
            );
          }
        }
        &__button {
          display: none;
        }
      }
      .button {
        display: inline;
      }
    }
  }
}
