@import "./header.scss";
:root {
  --dark_Blue: hsl(233, 26%, 24%);
  --lime_Green: hsl(136, 65%, 51%);
  --bright_Cyan: hsl(192, 70%, 51%);
  --grayish_Blue: hsl(233, 8%, 62%);
  --light_Grayish_Blue: hsl(220, 16%, 96%);
  --very_Light_Gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --wrapperSpace: 1.34em;
  font-size: 18px;
}
body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  color: var(--grayish_Blue);
}
.wrapper {
  padding: 0em var(--wrapperSpace);
}
.hero {
  // border: 2px solid red;
  text-align: center;
  margin-bottom: 5em;
  .copy {
    margin-bottom: 2.9em;
    margin-top: 1.1em;
  }
  &__image {
    // border: 1px solid green;
    height: 300px;
    margin: 0 calc(-1 * var(--wrapperSpace));
    background: url(../images/image-mockups.png),
      url(../../static/images/bg-intro-mobile.svg);
    background-position: bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 345px, cover;
  }
}
.title {
  border: 1px solid green;
  &__h1 {
    // border: 1px solid blue;
    font-size: 2.2em;
    font-weight: 400;
    color: var(--dark_Blue);
    margin-bottom: 0;
    margin-top: 0.6em;
  }
}
.copy {
  color: var(--grayish_Blue);
  line-height: 1.7;
  font-size: 0.8em;
  // border: 1px solid green;
}
.button {
  // border: 1px solid green;
  padding: 0.9em 2.3em;
  border-radius: 2em;
  font-size: 0.8em;
  text-align: center;
  color: var(--white);
  background: linear-gradient(
    to right,
    var(--lime_Green) 0%,
    var(--bright_Cyan) 100%
  );
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
